.app {
  min-height: 100vh;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
}

.app-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  height: calc(100vh - 60px - 49px);
  padding: var(--spacing-xl);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg-primary);
}

[data-theme="dark"] .main-content {
  background-color: #000;
}

.main-content h1 {
  font-size: 32px;
  margin-bottom: var(--spacing-md);
  color: var(--text-primary);
}

.main-content p {
  margin-bottom: var(--spacing-sm);
}

/* Responsive */
@media (max-width: 768px) {
  .app-layout {
    flex-direction: column;
    height: calc(100vh - 60px - 49px);
  }
  
  .main-content {
    padding: var(--spacing-md) var(--spacing-xs);
    height: auto;
    flex: 1;
  }

  .d-mb-none { /* mobile display none */
    display: none;
  }
}

@media (min-width: 769px) {
  .d-ds-none {
    display: none;
  }
}